@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Noto+Sans+Arabic:wght@400;700&display=swap');
@import 'variables';
@import 'mixins';
@import 'buttons';
@import 'forms';
@import 'tables';
@import 'dropdown';
@import 'utilities';
@import 'branch-card';
@import 'time-slots';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: $font-family-primary, $font-family-secondary, sans-serif;
}