@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Noto+Sans+Arabic:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Noto Sans Arabic", sans-serif;
}

//Global Classes
.font-bold {
  font-weight: 700;
}

.font-bolder {
  font-weight: 900;
}

.d-flex {
  display: flex;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.ms-2 {
  margin-inline-start: 0.5rem;
}

.text-end {
  text-align: end;
}

.section-divider {
  border-top: 2px solid #000;
  margin: 5px 0;

  &.x2 {
    border-top: 4px solid #000;
  }

  &.x3 {
    border-top: 6px solid #000;
  }

  &.x4 {
    border-top: 8px solid #000;
  }

  &.x5 {
    border-top: 15px solid #000;
  }
}